body {
    background-color: #070A0D; /* Color de fondo */
    color: white; /* Color de la letra */
}
a {
    color: white;
}
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.navbar-nav .nav-link {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Sombra negra con transparencia */
  color: white; /* Color blanco para un contraste alto */
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-nav .nav-link {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Sombra negra con transparencia */
  color: white; /* Color blanco para un contraste alto */
}

/* Asegúrate de que el contenedor principal use todo el ancho y tenga un espaciado adecuado */
.main {
  padding: 2rem 0;
}
/* Mejora el espaciado y la distribución de los elementos del navbar */
.navbar-brand img {
  max-height: 50px; /* Ajusta la altura del logo */
}
.navbar-nav .nav-link {
  padding: 1rem 2rem; /* Espaciado vertical y horizontal en los enlaces */
}

.spotify-frame {
    border: 4px solid #fff;
    border-radius: 16px;
    overflow: hidden;
    max-width: 550px;
    width: 100%;
}
.spotify-frame iframe {
    display: block;
    border: none;
    width: 400%;
    height: 160px; /* Ajusta la altura del reproductor según sea necesario */
}
.footer {
    background-color: #000;
    color: #777;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer p {
    margin: 0;
    line-height: 1.5;
}

/* Carrusel */
.carousel-item img {
  height: 550px;
  /* Altura */
  object-fit: cover;
  /* Ajustar el contenido sin perder proporciones */
  width: 100%;
  /* Ajustar al ancho del carrusel */
}

.carousel-caption h5,
.carousel-caption p {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
.carousel-caption h5 {
  font-size: 2rem; /* Tamaño de fuente grande para el título */
  color: #ffffff; /* Color blanco para alto contraste */
}

.carousel-caption p {
  font-size: 1.2rem; /* Tamaño de fuente para el subtítulo */
  color: #ffffff;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}



.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.inspiracion-section .row {
  display: flex;
  justify-content: space-around;
}

.inspiracion-section h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.inspiracion-section ul {
  list-style-type: none;
  padding: 0;
}

.inspiracion-section ul li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .inspiracion-section .row {
      flex-direction: column;
  }
}

#carouselExampleCaptions {
  margin-top: 50px;
}